[submodule "simplify"]
	path = simplify
	url = https://github.com/HarrisonGrodin/Simplify.jl.git
[submodule "special_sets"]
	path = special_sets
	url = https://github.com/Roger-luo/SpecialSets.jl.git
