.DS_Store
.vscode
*.jl.cov
*.jl.*.cov
*.jl.mem

docs/build/
docs/site/
docs/Manifest.toml
docs/src/examples/*.md
docs/src/assets/themes/indigo.css

*.ipynb_checkpoints
**/*.ipynb_checkpoints
**/**/*.ipynb_checkpoints

_*.dat
*.swp
__pycache__/

Manifest.toml
