*.jl.cov
*.jl.*.cov
*.jl.mem

docs/build/
docs/site/
docs/src/tutorial/RegisterBasics.md
docs/src/tutorial/BlockBasics.md
docs/src/tutorial/BinaryBasics.md
docs/src/tutorial/QCBM.md
docs/src/tutorial/GHZ.md

*.ipynb_checkpoints
**/*.ipynb_checkpoints
**/**/*.ipynb_checkpoints

_*.dat
*.swp
__pycache__/

Manifest.toml

_local/
